@model IEnumerable<POS.Models.Product>

@section styles
{
     
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" /> 
}

@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="t_products" class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Category Name:")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@section scripts
{    
  
<script src="~/Scripts/App/Product/Product_index.js"></script>
}
